body{
  font-family: arial;
}
.photo {
  float: left;
  display: block;
}

.info_about {
  display: block;
}

.info__item {
  list-style: none;
}

.clear {
  clear: both;
}

div {
  margin: 3px;
}

.about__list__item {
  margin-bottom: 15px;
}
.exp__list__item {
  margin-bottom: 15px;
}

.question {
  border-bottom: 2px dotted #666;
  cursor: pointer;
  font-weight: bolder;
}

.answer {
  display: none;
  padding-left: 15px;
}

.hidden {
  display: none;
}
.print {
  float: right;
}

@media print {
  .answer {
    display: block;
    padding-left: 15px;
  }
  body {
    font-size: 8pt;
  }
}
